main {
  width: 100%;
  height: 100%;

  .container {
    margin-bottom: 1rem;

    h1 {
      color: #000;
      font-size: 20px;
      font-weight: 600;
    }

    h6 {
      color: #9F9FA9;
      font-weight: 400;
      font-size: 12px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  .main {
    display: flex;
    width: 100%;
    justify-content: end;

    mat-form-field {
      width: 100%;
      height: 20%;
    }
  }

  .container-list {
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;

    .card {
      width: 320px;
      border-radius: 25px;
      background-color: #FFFFFF;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

      .icon-clear {
        position: relative;
        top: 40px;
        z-index: 5;
        color: #FFF;
      }

      .image-content,
      .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 14px;

        .name {
          font-size: 18px;
          font-weight: 500;
          color: #333333;
        }

        .description {
          font-size: 14px;
          color: #707070;
          text-align: center;
        }
      }

      .image-content {
        row-gap: 5px;
        position: relative;
        padding: 25px 0;

        .overlay {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background-color: #2B485A;
          border-radius: 25px 25px 0 25px;
        }

        .overlay::before,
        .overlay::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: -40px;
          height: 40px;
          width: 40px;
          background-color: #2B485A;
        }

        .overlay::after {
          border-radius: 0 25px 0 0;
          background-color: #FFFFFF;
        }

        .card-image {
          position: relative;
          height: 150px;
          width: 150px;
          border-radius: 50%;
          background: #FFFFFF;
          padding: 3px;
        }

        .card-image .card-img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
          border: 4px solid #2B485A;
        }
      }
    }

    .pagination {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
    }

    button:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }

    input {
      width: 50px;
      padding: 5px;
      text-align: center;
      border-radius: 5px;
      border: 1px solid #ddd;
    }
  }

  ::ng-deep .custom-snackbar {
    --mdc-snackbar-container-color: #2B485A !important;
  }
}
