<div class="container">
  <h1>{{isNew ? 'Adicionar' : 'Alterar'}} produto</h1>
  <h6>Preencha os dados e crie uma novo produto</h6>

  <div class="container-form">
    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite o nome do produto..." formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Digite a descrição do produto..." formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Preço</mat-label>
        <input type="number" matInput placeholder="Digite o preço do produto..." formControlName="price">
      </mat-form-field>
    </form>
    <hr>
    <div class="main">
      <button class="button-add" (click)="saveOrUpdate()">{{isNew ? 'Adicionar' : 'Alterar'}}</button>
    </div>
  </div>
</div>